@import url('fuentes.css');

/* noscroll */
.no-scroll{
    padding-top: 100px;
}

/*--- GENERAL ---*/
.azulito{
	color: #4f91cd;
}

h1, h2, h3, h4, h5{
	font-family: 'roboto-slab';
	font-weight: normal;
	/*text-shadow:  -2px 3px 2px rgba(150, 150, 150, 0.68);*/
}

p{
	text-indent: justify;
}

html, body {
  height: 100%;
}

.text-small{
	font-size: 14px;
}

.publicacion-img{
	width: 100%;
	max-width: 520px;
}



.bg-azul-marino{
	background-color: #1B2668;
}



/*** HEADER ***/
.navbar-brand img{
    margin-left: 20px;
}

.navbar-brand > img{
    height: 40px;
}

.oscuro{
    box-shadow: none;
}

ul li a{
    font-family: josefin-regular;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

.top-nav-collapse{
    background-color: rgba(255, 255, 255, 1);
    height: 60px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,.5);
}

.top-nav-collapse .nav-item a{
    color: black !important; 
}

.top-nav-collapse .fas{
    color: black !important
}



/*--- FOOTER ---*/

.redes-footer{
	width: 50px;
}

/*** INICIO ***/

.carousel, .carousel-item{
    max-height: 600px;
}

.carousel-caption{

    font-size: 40px;
}

.caption-bebe p{
    padding-top: 70px;
    font-weight: 400;
    font-size: 30px !important;
}

.font-weigth-semibold{
    font-weight: 400;
}


/*--- MAIN ---*/

.fb-page{
	width: 100%;
}

/*.card{
	margin-top: 20px;
}*/

.redes{
	width: 90px;
}

.empresa{
	width: 50%;
	max-width: 200px;
	margin-top: 20px;
}

.carousel, .carousel-item{
	/*max-height: 500px;*/
}


/*main .row,*/ main p{
	margin-top: 20px;
}

.icono-nosotros{
	font-size: 60px !important;
}

.mision{
	color: #FA5C5C;
}

.vision{
	color: #84DD65;
}

.compromiso{
	color: #F1F354;
}


.mapa{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

.contacto-icon{
	position: relative;
	top: 5px;
	margin-right: 10px;
	font-size: 25px;
}

.contact-form{
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.tarjeta{
	height: 300px;
}


/*--- EFECTOS ---*/

.desplazamiento-hover{
	transition-duration: 0.5s;
}

.desplazamiento-hover:hover{
	transition-duration: 0.5s;
	transform: translate(0,-10px);
}

.escalar{
	transition-duration: 0.5s;
}

.escalar:hover{
	transform: scale(1.1,1.1);
}

.nav-item::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width .3s;
}

.nav-item:hover::after{
    width: 100%;
    transition: width .3s;
}

.brand-scroll{
	height: 100px !important;
	transition-duration: 0.7s;
}

.top-nav-collapse .navbar-brand img{
	height: 40px !important;
	transition-duration: 0.7s;	
}

/*--- DONACIÓN ---*/

.donacion{
	background-image: url(../img/tarjeta1.jpeg);
	background-size: cover;
}

/*MEDIA QUERIES*/

/*** PANTALLA CHICA ***/
@media only screen and (max-width: 992px) {

    /*
    Arregla el problema del fondo transparente del botón de hamburguesa
    */
    .navbar-brand img{
        height: 30px;
    }

    #navbarNav{
        background-color: rgba(0, 0, 0, 0.95);
        width: 100%;
        position: absolute;
        left: 0;
        top: 90px;
	}
	

    .noscroll{
        background-color: rgba(255, 255, 255, 0.95) !important;
    }

    #navbarNav ul li{
        margin: 10px 30px;
    }

    #navbarNav ul li a{
        text-align: center;
    }

    .top-nav-collapse #navbarNav{
		background-color: rgba(255, 255, 255, 0.95);
		top: 60px;
    }

    .portada-logo{
        width: 250px ;
    }

}

/*** PANTALLA GRANDE ***/
@media only screen and (min-width: 992px) {

	

}
